In [1]:
# data exploration
import os
import pandas as pd

In [2]:
print(os.getcwd())

/Users/nicholus/Documents/GitHub/belgium-real-estate/notebooks

In [3]:
# read the raw file
raw_data = "../data/raw/FR_immo_statbel_trimestre_par_commune.xlsx"
# visually inspectng the excel file it has 3 header rows
# read the excel file ignoring the first two header rows
raw_data_df = pd.read_excel(raw_data,skiprows=2)

In [4]:
raw_data_df.head()

,refnis,localité,année,période,Unnamed: 4,nombre transactions,prix médian(€),prix premier quartile(€),prix troisième quartile(€),Unnamed: 9,...,prix troisième quartile(€).2,Unnamed: 19,nombre transactions.3,prix médian(€).3,prix premier quartile(€).3,prix troisième quartile(€).3,Unnamed: 24,Unnamed: 25,Unnamed: 26,0
0,11001,AARTSELAAR,2010,Q1,NaN,29.0,252000.0,225000.0,290000.0,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,1
1,11001,AARTSELAAR,2010,Q2,NaN,25.0,254000.0,212000.0,289000.0,NaN,...,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,11001,AARTSELAAR,2010,Q3,NaN,21.0,255000.0,235000.0,285000.0,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,1
3,11001,AARTSELAAR,2010,Q4,NaN,28.0,245000.0,210000.0,312500.0,NaN,...,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,11001,AARTSELAAR,2011,Q1,NaN,23.0,310000.0,220000.0,370000.0,NaN,...,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [5]:
# print column names
print(raw_data_df.columns)

Index([                      'refnis',                     'localité',
                              'année',                      'période',
                         'Unnamed: 4',          'nombre transactions',
                     'prix médian(€)',     'prix premier quartile(€)',
         'prix troisième quartile(€)',                   'Unnamed: 9',
              'nombre transactions.1',             'prix médian(€).1',
         'prix premier quartile(€).1', 'prix troisième quartile(€).1',
                        'Unnamed: 14',        'nombre transactions.2',
                   'prix médian(€).2',   'prix premier quartile(€).2',
       'prix troisième quartile(€).2',                  'Unnamed: 19',
              'nombre transactions.3',             'prix médian(€).3',
         'prix premier quartile(€).3', 'prix troisième quartile(€).3',
                        'Unnamed: 24',                  'Unnamed: 25',
                        'Unnamed: 26',                              0],
      dtype='object')

In [6]:
# drop empty columns
raw_data_df = raw_data_df.drop(columns=['Unnamed: 4','Unnamed: 14','Unnamed: 24','Unnamed: 26','Unnamed: 9','Unnamed: 19','Unnamed: 25',0])

# visualise the remaining columns
print (raw_data_df.columns)

Index(['refnis', 'localité', 'année', 'période', 'nombre transactions',
       'prix médian(€)', 'prix premier quartile(€)',
       'prix troisième quartile(€)', 'nombre transactions.1',
       'prix médian(€).1', 'prix premier quartile(€).1',
       'prix troisième quartile(€).1', 'nombre transactions.2',
       'prix médian(€).2', 'prix premier quartile(€).2',
       'prix troisième quartile(€).2', 'nombre transactions.3',
       'prix médian(€).3', 'prix premier quartile(€).3',
       'prix troisième quartile(€).3'],
      dtype='object')

In [7]:
# prepare dataframes for each house type

list_cols = list(raw_data_df)

#toute_maison
cols_toute = list_cols[:4]+list_cols[4:8]
df_toute = raw_data_df[cols_toute].copy()
df_toute['property_type'] = 'toute_maison'

#maison_2_3
cols_2_3= list_cols[:4]+list_cols[8:12]
df_2_3 = raw_data_df[cols_2_3].copy()
df_2_3['property_type'] = 'maison_2_3'

#maison4_plus
cols_4_plus = list_cols[:4]+list_cols[12:16]
df_4_plus = raw_data_df[cols_4_plus].copy()
df_4_plus['property_type'] = 'maison_4_plus'


#apartment
cols_apart = list_cols[:4]+list_cols[16:20]
df_apart = raw_data_df[cols_apart].copy()
df_apart['property_type'] = 'apartment'

In [8]:
# check columns of each df
print(df_toute.columns)
print(df_2_3.columns)
print(df_4_plus.columns)
print(df_apart.columns)

Index(['refnis', 'localité', 'année', 'période', 'nombre transactions',
       'prix médian(€)', 'prix premier quartile(€)',
       'prix troisième quartile(€)', 'property_type'],
      dtype='object')
Index(['refnis', 'localité', 'année', 'période', 'nombre transactions.1',
       'prix médian(€).1', 'prix premier quartile(€).1',
       'prix troisième quartile(€).1', 'property_type'],
      dtype='object')
Index(['refnis', 'localité', 'année', 'période', 'nombre transactions.2',
       'prix médian(€).2', 'prix premier quartile(€).2',
       'prix troisième quartile(€).2', 'property_type'],
      dtype='object')
Index(['refnis', 'localité', 'année', 'période', 'nombre transactions.3',
       'prix médian(€).3', 'prix premier quartile(€).3',
       'prix troisième quartile(€).3', 'property_type'],
      dtype='object')

In [10]:
# rename column names for consistency
# toute maison
df_toute = df_toute.rename(columns={'localité':'localite',
                                    'année':'annee',
                                    'période':'periode',
                                    'nombre transactions':'nombre_transactions',
                                    'prix médian(€)':'prix_median',
                                    'prix premier quartile(€)':'prix_premier_quartile',
                                    'prix troisième quartile(€)':'prix_troisieme_quartile'})
df_toute['property_type']='toute_maison'

#check the columns names
df_toute.columns

Index(['refnis', 'localite', 'annee', 'periode', 'nombre_transactions',
       'prix_median', 'prix_premier_quartile', 'prix_troisieme_quartile',
       'property_type'],
      dtype='object')

In [11]:
#maison_2_3
df_2_3 = df_2_3.rename(columns={'localité':'localite',
                                'année':'annee',
                                'période':'periode',
                                'nombre transactions.1':'nombre_transactions',
                                'prix médian(€).1':'prix_median',
                                'prix premier quartile(€).1':'prix_premier_quartile',
                                'prix troisième quartile(€).1':'prix_troisieme_quartile' 
})
df_2_3['property_type']='maison_2_3'

#check the columns names
df_2_3.columns

Index(['refnis', 'localite', 'annee', 'periode', 'nombre_transactions',
       'prix_median', 'prix_premier_quartile', 'prix_troisieme_quartile',
       'property_type'],
      dtype='object')

In [12]:
#maison_4_plus
df_4_plus = df_4_plus.rename(columns={'localité':'localite',
                                      'année':'annee',
                                      'période':'periode',
                                      'nombre transactions.2':'nombre_transactions',
                                      'prix médian(€).2':'prix_median',
                                      'prix premier quartile(€).2':'prix_premier_quartile',
                                      'prix troisième quartile(€).2':'prix_troisieme_quartile'})

df_4_plus['property_type']='maison_4_plus'

#check the columns names
df_4_plus.columns

Index(['refnis', 'localite', 'annee', 'periode', 'nombre_transactions',
       'prix_median', 'prix_premier_quartile', 'prix_troisieme_quartile',
       'property_type'],
      dtype='object')

In [13]:
#apartment
df_apart = df_apart.rename(columns={'localité':'localite',
                                      'année':'annee',
                                      'période':'periode',
                                      'nombre transactions.3':'nombre_transactions',
                                      'prix médian(€).3':'prix_median',
                                      'prix premier quartile(€).3':'prix_premier_quartile',
                                      'prix troisième quartile(€).3':'prix_troisieme_quartile'})

df_apart['property_type']='apartment'

#check the columns names
df_apart.columns

Index(['refnis', 'localite', 'annee', 'periode', 'nombre_transactions',
       'prix_median', 'prix_premier_quartile', 'prix_troisieme_quartile',
       'property_type'],
      dtype='object')

In [14]:
# concatenate the dataframes

df_conc = pd.concat([df_toute,df_2_3,df_4_plus,df_apart],ignore_index=True)
print(df_conc.columns)

Index(['refnis', 'localite', 'annee', 'periode', 'nombre_transactions',
       'prix_median', 'prix_premier_quartile', 'prix_troisieme_quartile',
       'property_type'],
      dtype='object')

In [15]:
df_conc.head()

,refnis,localite,annee,periode,nombre_transactions,prix_median,prix_premier_quartile,prix_troisieme_quartile,property_type
0,11001,AARTSELAAR,2010,Q1,29.0,252000.0,225000.0,290000.0,toute_maison
1,11001,AARTSELAAR,2010,Q2,25.0,254000.0,212000.0,289000.0,toute_maison
2,11001,AARTSELAAR,2010,Q3,21.0,255000.0,235000.0,285000.0,toute_maison
3,11001,AARTSELAAR,2010,Q4,28.0,245000.0,210000.0,312500.0,toute_maison
4,11001,AARTSELAAR,2011,Q1,23.0,310000.0,220000.0,370000.0,toute_maison

In [ ]:
# len before dropping na
print(len(df_conc))

In [16]:
# drop rows where value of all columns are NaN

df_conc = df_conc.dropna(subset=['nombre_transactions','prix_median','prix_premier_quartile','prix_troisieme_quartile'], how ='all')

In [18]:
# how many rows dropped
print (len(df_conc))

127074

In [17]:
# save the 1NF Dataframe toa CSV file

df_conc.to_csv('../data/clean/normalized_table_1nf.csv',index=False)